<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Adam Fentosi">
        <title>{% block title %}LCH Webshop{% endblock %}</title>


        {% block stylesheets %}
            <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css integrity=sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T crossorigin=anonymous>
            <link href=/css/chunk-139cc0c9.e736908e.css rel=prefetch>
            <link href=/js/chunk-139cc0c9.5f57a6e5.js rel=prefetch>
            <link href=/js/chunk-a240de86.91bdea55.js rel=prefetch>
            <link href=/css/app.f848e54b.css rel=preload as=style>
            <link href=/js/app.d4096c10.js rel=preload as=script>
            <link href=/js/chunk-vendors.9e2abb2b.js rel=preload as=script>
            <link href=/css/app.f848e54b.css rel=stylesheet>
        {% endblock %}
    </head>
    <body>

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src=/js/chunk-vendors.9e2abb2b.js></script>
        <script src=/js/app.d4096c10.js></script>
    {% endblock %}
    </body>
</html>
